*{
box-sizing:border-box;
}
.settingh{
text-align:center;
padding-top:10px;
font-family:bold;
}
.mymargin{
margin-top:10px;
}

.w3-section h2{
padding:30px;
}
.for-hide{
display:none;
}
.my-loading{
 width: 50%;
 height: 50%;
 overflow: auto;
 margin: auto;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
}
.my-popup{
 //z-index:9;
 background:rgba(10,10,10,0.8);
 width: auto;
 height: auto;
 overflow: auto;
 margin: auto;
 position:absolute;
 top: 0; left: 0; bottom: 0; right: 0;
}